.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
  }
  
  .left-section {
    display: flex;
    align-items: center;
  }
  
  .logo img {
    height: 40px;
    margin-right: 20px;
  }
  
  .header .nav-links {
    display: flex;
    gap: 20px;
  }
  
  .header .nav-links a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
  }
  
  .header .nav-links a:hover {
    color: #007bff;
  }
  
  .user-select {
    display: flex;
    align-items: center;
    margin-right: 2rem;
  }
  
  .mobile-nav {
    display: none
  }

  .menu-button {
    text-align: right;
  }

  .menu-icons{
    display: flex;
    margin: 0.5rem 0 1rem 1rem;
    align-items: end;
  }